<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResponsiveImageGallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>


<body>
    

    <div class="container">

        <div class="heading">
            <h1>Responsive Image Gallery Flask</h1>
        </div><!-- heading End -->


        <div class="box">

            <div class="dream">
                <img src="{{ url_for('static', filename = 'photo/1.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/2.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/3.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/4.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/5.webp') }}" alt="">
            </div>



            <div class="dream">
                <img src="{{ url_for('static', filename = 'photo/2.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/4.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/1.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/3.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/5.webp') }}" alt="">
            </div>




            <div class="dream">
                <img src="{{ url_for('static', filename = 'photo/5.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/4.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/3.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/2.webp') }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/1.webp') }}" alt="">
            </div>

        </div><!-- box End -->
        


        <div class="refreshBtn">
            <a href="#">
                <button>REFRESH</button>
            </a>
        </div><!-- refreshBtn End -->



    </div><!-- container End -->




    <script type="text/javascript" src="{{ url_for('static', filename = 'script/main.js') }}"></script>
</body><!-- Body End -->
</html>