<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResponsiveImageGallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>


<body>
    

    <div class="container">

        <div class="heading">
            <h1>Responsive Image Gallery Flask</h1>
        </div><!-- heading End -->


        <div class="box">

            <div class="dream">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[0]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[1]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[2]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[9]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[10]) }}" alt="">
            </div>



            <div class="dream">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[3]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[4]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[5]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[11]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[12]) }}" alt="">
            </div>




            <div class="dream">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[6]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[7]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[8]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[13]) }}" alt="">
                <img src="{{ url_for('static', filename = 'photo/'+RandomPhoto[14]) }}" alt="">
            </div>

        </div><!-- box End -->
        


        <div class="refreshBtn" >
            
           <!-- <button type="submit" id="btn" name="btn">REFRESH</button> --> 
            
        </div><!-- refreshBtn End -->



    </div><!-- container End -->



    <script type="text/javascript" src="{{ url_for('static', filename = 'script/main.js') }}"></script>
</body><!-- Body End -->
</html>